@import "../../scss/varibles.scss";
.github {
  color: $blackcoral;
  .search {
    .input {
      border: 3px solid $melon;
      height: 38px;
      border-radius: 5px;
      background: $aeroblue;
      padding-left: 10px;
      margin: 5px;
      &:focus {
        outline: none;
      }
    }
    .button {
      color: $blackcoral;
      font-weight: 600;
      border: 3px solid $melon;
      height: 45px;
      border-radius: 5px;
      background: $powderblue;
      margin: 5px;
      &:focus {
        outline: none;
      }
    }
  }

  .error {
    h1 {
      color: $melon;
      margin: 25vh auto;
    }
  }

  .welcome {
    h1 {
      color: $melon;
      margin: 25vh auto;
    }
  }

  .result {
    display: flex;
    justify-content: center;
    .avatar {
      margin: 40px;
      .logo {
        max-width: 400px;
      }
    }
    .info {
      margin: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: 600;
    }
  }
}
